@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model cs_calc_area_exercise.Models.Glass

<div>
    <p>Area (sq ft.)</p>
    <h2>@Model.area</h2>
    <p>Circumreference</p>
    <h2>@Model.cRef</h2>
</div>

<div>
    @Html.ActionLink("New Calculation", "Index")
</div>