@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model cs_calc_area_exercise.Models.Glass

<div class="jumbotron">
    <p>Area : @Model.area sq. ft</p>
    <p>Circumference : @Model.cRef</p>
    @Html.ActionLink("New Calculation", "Index")
</div>

<div>
    
</div>